.profession-page {
    padding: 20px;

    > div {
        padding: 5px 10px;
    }

    .region-page__title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    .profession-button {
        max-width: 160px;
        width: 100%;
        margin-right: 25px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    .region-page__btns {
        display: flex;
        margin: 15px 0;
        margin-top: auto;
        justify-content: space-between;

        > button {
            max-width: 160px;
            flex-grow: 1;
        }

        > button:first-child {
            margin-right: 25px;
        }
    }
}
