.quiz-page {
    .quiz-page__question {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .region-page__btns {
        display: flex;
        margin: 15px 0;

        > button {
            max-width: 160px;
            flex-grow: 1;
        }

        > button:first-child {
            margin-right: 25px;
        }
    }
}