.quiz-page {
    padding: 20px;
    padding-bottom: 60px;

    .quiz-button {
        max-width: 160px;
        width: 100%;
        margin-right: 25px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    .quiz-page__question {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .region-page__btns {
        display: flex;
        margin: 15px 0;

        > button {
            max-width: 160px;
            flex-grow: 1;
        }

        > button:first-child {
            margin-right: 25px;
        }
    }

    .btns {
        margin: 0 auto;
        position: fixed;
        top: calc(var(--vh) * 100 - 130px);
        left: 0;
        right: 0;
        max-width: var(--widthBreak, 600px);
        padding: 0 20px;
    }
}