.diseas-card {
  .line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    gap: 0 10px;
  }

  .icon {
    font-size: 14px;
    height: 2em;
    width: 2em;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
  }

  .virusIcon {
    color: #FF003D;
    stroke: #000;
    font-size: 12px;
    height: 2em;
    width: 2em;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
  }

  .text {
    font-size: 18px;

    
  }
  .text--red {
    color: #ed1c24;
  }
  .text--yellow {
    color: #ffb800;
  }
  .text--green {
    color: #3bcf1a;
  }

  .diseas-card__def-text {
    text-align: right;
    font-size: 16px;
    font-weight: 300;
    color: "#999";
  }


  @media (max-width: 340px) {
    .text {
      font-size: 14px;
    }
  }
}

.diseas-card.red {
}
.diseas-card.yellow {
  .virusIcon {
    color: #ffb800;
  }
}
.diseas-card.green {
  .virusIcon {
    color: #3bcf1a;
    stroke: none;
  }
}
