@import "./funcs.scss";
@import "./vars.scss";

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-size: $fontSize;
    font-family: $fontFamily;
    line-height: $lineHeigth;
    color: $textColor;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.App {
    max-width: $widthBreak;
    margin: 0 auto;
}

// Page slide animation
.page-enter .page-anim{
    opacity: 0;
    transform: translateY(-40%);
}
.page-enter-active .page-anim{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 150ms, transform 150ms;
}

.page-exit .page-anim{
    opacity: 1;
    transform: scale(1);
}

.page-exit-active .page-anim{
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 150ms, transform 150ms;
}

.error {
    color: $errorColor;
}