@import "./funcs.scss";
@import "./vars.scss";

*, *::after, *::before { 
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-size: $fontSize;
    font-family: $fontFamily;
    line-height: $lineHeigth;
    color: $textColor;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.App {
    max-width: $widthBreak;
    margin: 0 auto;
}