$fontSize: 14px;
$lineHeigth: 1.45;
$fontFamily: Roboto, Arial, Helvetica, sans-serif;
$mainColor: #E5E5E5;
$accentColor: #9BC83F;
$textColor: #333;
$errorColor: #f44336;
$mainColor2: #67CDFD;
$textColor2: #acacac;

$widthBreak: 600px;