
.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .layout__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
    }

    .layout__content {
        flex-grow: 1;
        overflow: auto;
    }

    .layout__content--scrollcleared {
        overflow: initial;
    }
}