.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 56px;

    .layout__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
    }

    .layout__content {
        flex-grow: 1;
        overflow: auto;
        background: #FAFAFA;
    }

    .layout__background {
        background: url("../../assets/backgroundgeneral.svg") center/contain;
    }

    .layout__content--scrollcleared {
        overflow: initial;
    }

    .layout__navigation {
        height: 56px;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        max-width: 600px;
        margin: 0 auto;
    }
}