.ready-page {
    padding: 20px;
    padding-top: 10px;

    .ready-page__text {
        color: #ACACAC;
        font-size: 18px;
        margin-bottom: 30px;
    }

    .ready-page__input {
        margin-bottom: 30px;
    }

    &__start {
        max-width: 160px;
        width: 100%;
    }

    .centred {
        justify-content: center;
    }
}