.ready-page{
    padding-bottom: 70px;

    .ready-page__text {
        color: #ACACAC;
        font-size: 18px;
        margin-bottom: 30px;
    }

    .ready-page__input {
        margin-bottom: 30px;
    }
}