@import '../../styles/vars.scss';

.reg {
    height: 100vh;
    overflow: auto;

    .reg__title {
        font-size: 36px;
    }

    .reg__container {
        margin: 0 auto;
        padding: 10px;
    }

    .reg__desc {
        padding-top: 10px;
    }

    .reg__form {
        padding-top: 45px;
        padding-bottom: 60px;
    }

    .reg__input {
        width: 100%;
        margin-bottom: 34px;
    }
    
    .reg_start {
        width: 160px;
        position: fixed;
        bottom: 15px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .reg__login-link {
        display: block;
        text-align: center;
        margin: 5px 0;
        font-size: 18px;
        letter-spacing: 2px;
        color: inherit;
    }
}